header{
  position: sticky;
  top: 0;
  z-index: 999999999999;
  
  font-weight: bold;
  .navbar{
    .navbar-nav{
      .nav-item{
        .nav-link{
          color: $azulEscuro;
          &:hover, &.link-ativo{
            color: $amareloDorado;
          }
        }
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
  
  }
}