.banner-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    position: absolute;
    margin: auto;
    z-index: 3;
    text-shadow: 0px 0px 20px black;
    color: #EFE8E1;
    font-size: 32px;
    font-weight: 500;
  }
  .slide-home{
    height: 80vh;
    background: center center no-repeat;
    background-size: cover;
  }
  .tns-controls{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    h1{
      position: absolute;
      margin: auto;
      z-index: 3;
      text-shadow: 0px 0px 20px black;
      color: #EFE8E1;
      font-size: 82px;
      line-height: 87.5px;
      font-weight: 500;
    }
  }
}

